body { background: #ffffff; }
.announcement { color: #777; border-bottom: solid 3px #d0d0d0; background-color: #fff; padding: 10px 10px; text-align: center; transition: 0.3s; }
.announcement:hover { border-bottom: solid 3px #159e83; transition: 0.3s; }
.announcement p { display: inline-block;font-size: 15px;margin: 0;line-height: 1;text-indent: 5px; }
.announcement i { display: inline-block;font-size: 15px;margin: 0;line-height: 1;color: #444; }
.navbar { min-height: 50px; }
.navbar-top { background-color: #4a4a4a !important; border-bottom: 6px solid #159e83; -moz-box-shadow: 0 -4px 0 rgba(0,0,0,.1); box-shadow: 0 6px 0 rgba(0,0,0,.1); }
.navbar-brand { color: #fff; padding: 10px; font-size: 20px; }
.dropdown .dropdown-toggle { padding-bottom: 10px; padding-top: 10px; }
.navbar-inverse .navbar-brand { color: #fff; padding: 15px 20px 10px; font-size: 20px; }
.content { background: #ffffff; padding: 20px; border: 1px #cecece solid; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); box-shadow: 0 1px 10px rgba(0, 0, 0, .1); margin-bottom: 20px; margin-top: 20px; }
.notice { background: #ffffff; padding: 20px 20px 20px 20px; border: 1px #cecece solid; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); box-shadow: 0 1px 10px rgba(0, 0, 0, .1); margin-bottom: 20px; margin-top: 20px; }
.table { background: #ffffff; margin-bottom: 0; border-collapse: collapse; border-radius: 3px; }
.table th, .table td { text-align: center; }
.table-striped tbody > tr.even > td, .table-striped tbody > tr.even > th { background-color: #F9F9F9; }
.table-striped tbody > tr.odd > td, .table-striped tbody > tr.odd > th { background-color: #FFF; }
.progress { margin-bottom: 0; }
.progress-bar { color: #000; }
.table-hover > tbody > tr:hover > td { background: #E6E6E6; }
tr.even.expandRow > :hover { background: #F9F9F9 !important; }
tr.odd.expandRow > :hover { background: #FFF !important; }
.expandRow > td { padding: 0 !important; border-top: 0px !important; }
#status, tr td:nth-child(1)			{ min-width: 70px; max-width: 100px; }
#ip, tr td:nth-child(2)			{ min-width: 50px; display: none;}
#type_1, tr td:nth-child(5)			{ display:none;min-width: 40px; }
#location, tr td:nth-child(6)		{ min-width: 50px; }
#time, tr td:nth-child(7)			{ min-width: 50px; }

@media only screen and (max-width: 720px) {
	#ip, tr td:nth-child(2)			{ min-width: 50px; max-width: 120px;}
	#type, tr td:nth-child(4)			{ display:none; }
	#type_1, tr td:nth-child(5)			{ display:block; }
	#time, tr td:nth-child(7)			{ min-width: 50px; max-width: 80px; }
}
@media only screen and (max-width: 600px) {
	#type, tr td:nth-child(4)			{ display:none; }
	#type_1, tr td:nth-child(5)			{ display:block; }
	/*#location, tr td:nth-child(6)		{ display:none; }*/
	#time, tr td:nth-child(7)			{ display:none; }
}
@media only screen and (max-width: 533px) {
	#type, tr td:nth-child(4)			{ display:none; }
	#type_1, tr td:nth-child(5)			{ display:block; }
	/*#location, tr td:nth-child(6)		{ display:none; }*/
	#time, tr td:nth-child(7)			{ display:none; }
}
@media only screen and (max-width: 450px) {
	body								{ font-size: 14px; }
	.content 							{ padding: 0; }
	#status, tr td:nth-child(1)			{ min-width: 30px; max-width: 100px; }
	#name, tr td:nth-child(2)			{ min-width: 25px; max-width: 50px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
	#type, tr td:nth-child(4)			{ display:none; }
	#type_1, tr td:nth-child(5)			{ display:none; }
	/*#type_1, tr td:nth-child(5)			{ display:block;min-width: 30px; }*/
	#location, tr td:nth-child(6)		{ min-width: 25px; max-width: 50px; }
	#time, tr td:nth-child(7)			{ display:none; }
}
